#Config for {{ item.hostname }}
hostname {{ item.hostname|upper }}
!
interface Lookback0
   ip address {{ item.mgmt_ip }}/32
!
{% for server in city[item.city].ntp_servers %}
ntp-server {{ server }}
{% endfor %}

syslog host {{ city[item.city].syslog_server }}

{% if item.city == "mia" %}
banner - Miami
{% else %}
banner - Other city
{% endif %}