## Device Documentation

| Hostname | MGMT IP Address |   
| :--- | ---:|   
{% for device in switches %}
| {{ device.hostname|upper }} | {{ device.mgmt_ip }} |   
{% endfor %}
&nbsp;
&nbsp;

## Config Example

```
hostname LEAF101
!
interface Lookback0
   ip address 10.10.10.1/32
!
ntp-server 10.50.100.10
ntp-server 10.50.100.11

syslog host 10.50.102.10

banner - Miami
```


| Node | Management IP | Platform |
| ---- | ------------- | -------- |
| DC1-SPINE1 | 10.255.0.11/24 | vEOS-LAB |
| DC1-SPINE2 | 10.255.0.12/24 | vEOS-LAB |
| DC1-LEAF1A | 10.255.0.13/24 | vEOS-LAB |
| DC1-LEAF1B | 10.255.0.14/24 | vEOS-LAB |
| DC1-LEAF2A | 10.255.0.15/24 | vEOS-LAB |
| DC1-LEAF2B | 10.255.0.16/24 | vEOS-LAB |