monitor connectivity
   host Google
      ip 8.8.8.8
      url http://www.google.com
   !
   host OHVLAB
      ip 192.168.1.1
   !
   host Yahoo
      ip 72.30.35.9
      url http://www.yahoo.com
   no shutdown
!